
div{
    padding: 20px;
    
}
div.login{
    background-color:  #dceff0;
    text-align: center;
    margin-top: 15%;
    border-radius: 30px;
    width: 40%;
   
}
#headLogin{
    padding: 10px;
    
    color: #cea9ca;
}
#h2Login {
    padding-top: 5px;
}

#inpLogin{
    padding: 5px;
    border-radius: 5px;
    border: 0;
    text-decoration-color: #55889e;
  
    
    
}

#btnLogin{
    background-color: #cea9ca;
    width: 100%;
    border: 0;
    border-radius: 3px;
    color: #e7e7d9;
    padding-bottom: 10px;

}



div#cardHome{
    width: 18rem;
    background-color: white;
    color: #55889e;
    margin: 10px;
    height: 13rem;
}
.card-body{
    height: 5rem;
}

#divbtn{
    background-color: #cea9ca;
    border: 0;
    border-radius: 3px;
    color: #e7e7d9;
    padding: 10px;
    text-align: center ;
    margin-top: 40px;
    
}

#btn{
    color: #e7e7d9;
    text-decoration: none;
}


