
/* estilos para el login */
div.login{
    background-color:  #dceff0;
    text-align: center;
    margin-top: 15%;
    border-radius: 30px;
    width: 40%;
   
}
#headLogin{
    padding: 10px;
    
    color: #cea9ca;
}
#h2Login {
    padding-top: 5px;
}

#inpLogin{
    padding: 5px;
    border-radius: 5px;
    border: 0;
    text-decoration-color: #55889e;
  
    
    
}

#btnLogin{
    background-color: #cea9ca;
    width: 100%;
    border: 0;
    border-radius: 3px;
    color: white;
    padding-bottom: 10px;

}

/* fin estilos login */


/* estilos para el contenedor de las card de home */
div#cardHome{
    width: 18rem;
    color: #55889e;
    margin: 30px;
    height: 13rem;
    padding: 20px;
    

}


.card-body{
    height: 5rem;
}
.card-group{
    margin-left: 250px;
    width: 800px;
}

#divbtn{
    background-color: #cea9ca;
    border: 0;
    border-radius: 3px;
    color: #e7e7d9;
    padding: 10px;
    text-align: center ;
    margin-top: 40px;
    
}

#btn{
    font-style: initial;
    color: white;
    text-decoration: none;
}
#body{
    margin: 0;
}


/* estilos para las card de inventario */
div#cardInventory{
    width: 18rem;
    color: #55889e;
    margin: 30px;
    height: 13rem;
    

}

#card-body-inventory{
    height: 15rem;
}

.container-inventory{
    width: 50%;
}