

div.login {
  background-color: #dceff0;
  text-align: center;
  align-content: center;
  margin-top: 15%;
  border-radius: 30px;
  width: 40%;
}
#headLogin {
  padding: 10px;

  color: #cea9ca;
}
#h2Login {
  padding-top: 5px;
}

#inpLogin {
  padding: 5px;
  border-radius: 5px;
  border: 0;
  margin: 30px;
  margin-left: 70px;
  text-decoration-color: #55889e;
  width: 75%;
}

#btnLogin {
  background-color: #cea9ca;
  width: 450px;
  border: 0;
  border-radius: 3px;
  color: white;
  padding-bottom: 10px;
  margin: 30px;
}

/* fin estilos login */

/* estilos para el contenedor de las card de home */
div#cardHome {
  width: 18rem;
  color: #2f3559;
  margin: 40px;
  height: 13rem;
  padding: 20px;
}

div#cardHome.card-body {
  height: 5rem;
}

#divbtn {
  background-color: #cea9ca;
  border: 0;
  border-radius: 3px;
  color: #e7e7d9;
  padding: 10px;
  text-align: center;
  margin-top: 40px;
}

#btn {
  font-style: initial;
  color: white;
  text-decoration: none;
  background-color: #cea9ca;
  border: 0;
  height: 2.4em;
  border-radius: 5px;
}
#body {
  margin: 0;
}

/* estilos para las card de inventario */
div#cardInventory {
  color: #2f3559;
  padding: 10px;
  margin-top: 100px;
}

.card-body {
  height: 5rem;
}

#cardFormProduct {
  width: 40%;
  margin: 0 auto;
  color: #55889e;
  padding: 30px;
  height: 50rem;
}

#divForm {
  margin-top: 30px;
  text-decoration: #55889e;
  padding: 10px;
}

/* card prod */
.prod {
  height: 4rem;
}

.card {
  padding: 10px;
}

table {
  margin: 10px;
}

#tableSales {
  color: #2f3559;
  margin: 20px;
  width: 90%;
  border-color: #cea9ca;
}
#tableSales td {
  padding: 1.5em;
}

#monto {
  position: absolute;

  width: 100%;
  height: 40px;
}

#card-fund {
  margin: 80px;
  color: #2f3559;
}
